@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
:root {
  --color1: #658ea9;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background: rgb(231, 241, 255);
  min-height: 700px;
}
header {
  background: var(--color1);
  color: white;
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.explicacao {
  color: white;
  padding: 10px;
  width: 500px;
  font-size: 15px;
  margin: 30px 0;
  background-color: var(--color1);
  border-radius: 0 10px 10px 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  padding: 10px;
}
footer {
  padding: 30px;
  text-align: center;
  background: var(--color1);
  color: white;
  width: 100vw;
  box-sizing: border-box;
  position: absolute;
}

.lista {
  display: flex;
  list-style: none;
  margin: auto;
  padding: 10px;
  flex-wrap: wrap;
  align-items: center;
}

.lista li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: var(--color1);
  margin: 0.3%;
  min-width: 0px;
  height: 50px;
  border-radius: 5px;
  box-sizing: border-box;
}
.lista li:hover {
  background: var(--color1);
  font-weight: bold;
  transition: 0.3s;
}

.inputs {
  text-align: center;
}

.numberInput {
  text-align: center;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  border-style: none;
  background: var(--color1);
  color: white;
  width: 300px;
  display: inline-block;
}
.numberInput::placeholder {
  color: white;
}

.calcular {
  text-align: center;
  margin: auto;
  display: flex;
  padding: 10px;
  border-radius: 10px;
  border-style: none;
  background: var(--color1);
  color: white;
  display: inline-block;
}
.calcularBloqueado {
  cursor: not-allowed;
}

.alerta {
  visibility: hidden;
  position: absolute;
  display: flex;
  align-items: center;
  background-color: rgba(255, 83, 83, 0.95);
  color: rgb(0, 0, 0);
  height: 100px;
  font-size: 20px;
  border-radius: 10px;
}

.alertaShow {
  visibility: visible;
  animation: fadeout 0.5s 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
